body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(180deg, #d362fb, #bdaae3 0.01%, #e8b7fa 33%);
  }
  
  .container {
    width: 370px;
    max-width: 600px;
    color: black;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 1rem;
  }
  
  form {
    margin-top: 2rem;
  }
  
  h2 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
  }
  p {
    font-size: .875rem;
    line-height: 1.25rem;
    margin: 0;
    margin-top: 6px;
  }
  
  .form-group {
    margin-bottom: 1rem;
    /* width: 470px; */
    /* max-width: 600px; */
    text-align: center;
    color: black;
    /* padding:10px; */
  }
  label {
    font-size: 13px;
    display: block;
    margin-bottom: 5px;
    text-align: left;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 96%;
    padding-block: 10px; 
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    /* margin-left: -23px; */

  }

  
  button {
    width: 100%;
    padding: 12px;
    background:linear-gradient(180deg, #d362fb, #bdaae3 0.01%, #e8b7fa 33%);
    color:black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
  }
  
  button:hover {
    background-color: #680657;
  }

  .bloodgroup{
    padding: 10px;
  }
  
  select {
    padding: .4rem 1rem ;
    width: 80% ;
  }