/* Resetting some default styles */
body, p {
    margin: 0;
    padding: 0;
    background-color: #d6c5f8;
}

/* Updated styles */
.container {
    width: 100%;
    position: relative;
    background-color: #d6c5f8;
    text-align: center;
    font-family: 'Mulish', sans-serif;
}

.banner {
    position: relative;
    background-color: #d6c5f8;
    overflow: hidden;
}

.background-image {
    width: 70%;
    height: auto;
}

.inner-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 1200px;
    opacity: 0.3;
}

.about-us-title {
    font-size: 3em;
    font-weight: 600;
    margin-top: 2em;
}

.commitment-container {
    font-weight: 300;
    text-align: center;
    margin: 2em auto;
    max-width: 800px;
    font-size: 1.2em;
}

.time-for-better-life {
    font-size: 5em;
    font-family: 'Kaushan Script', cursive;
    color: #9747ff;
    margin-top: 2em;
}

.mission-title {
    font-size: 3em;
    font-weight: 600;
    margin-top: 2em;
}

.lifeconnect-container {
    font-weight: 300;
    text-align: center;
    margin: 2em auto;
    max-width: 800px;
    font-size: 1.2em;
}

.connections-title,
.awareness-title,
.empowering-title {
    font-size: 2.5em;
    text-align: center;
    margin-top: 2em;
}

.connections-container,
.awareness-container,
.empowering-container {
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em auto;
    max-width: 800px;
    font-size: 1.2em;
}
.fa-home {
    position: fixed;
    top: 20px; /* adjust according to your preference */
    left: 20px; /* adjust according to your preference */
    z-index: 9999; /* to ensure it appears on top of other content */
}
  
